<table class="ui celled table">
  <thead>
	<tr>
		<th>Contributor Name</th>
		<th>Type</th>
		<th>Website</th>
		<th>Actions</th>
	</tr>
</thead>
 <tbody>
	<tr *ngFor="let nomination of nominations">
	  <td data-label="Contributor Name">{{nomination.contributor_name}}</td>
	  <td data-label="Type">{{nomination.type}}</td>
	  <td data-label="Website">{{nomination.website ? nomination.website : "NA"}}</td>
	  <td data-label="Actions">
		<button class="sb-btn sb-btn-normal sb-btn-primary" (click)="onApproveClick(nomination)">
				Approve
		</button>
		<button class="sb-btn sb-btn-normal sb-btn-warning mx-10" (click)="onRejectClick(nomination)">
			Reject
		</button>
	</td>
	</tr>
  </tbody>
</table>

