
<div class="ui centered grid my-10">
    <div class="six wide tablet eight wide computer column">
        <form>
            <div class="twelve wide column">
                <div class="sb-field-group">
                    <label>Name</label>
                    <div class="sb-field">
                        <input autofocus="" class="sb-form-control ng-pristine ng-valid ng-touched" type="text" placeholder="Name">
                    </div>
                </div>
            </div>

            <div class="twelve wide column fields mt-30">
                <div class="required field">
                    <label>Expression for Interest Date</label>
                    <div class="ui read-only calendar mb-10">
                        <div class="ui input right icon">
                        <i class="calendar icon date-calendar"></i>
                        <input [pickerMinDate]='pickerMinDate' suiDatepicker [pickerMode]="'date'">
                        </div>
                    </div>
                </div>
                <div class="field ml-10">
                    <label>Shortlisting of Contributor</label>
                    <div apply-script class="ui calendar" >
                        <div class="ui input right icon">
                        <i class="calendar icon date-calendar"></i>
                        <input [pickerMinDate]='pickerMinDateForEndDate' suiDatepicker [pickerMode]="'date'">
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
