.ui{
  .field{
    label{
      font-size: 1.05em;
      font-weight: 500;
      margin-bottom:10px;
      font-size:14px;
    }
  }
  .multiple.dropdown {
      border: 1px solid rgba(34,36,38,.15);
      background: #fff;
      font-size: 14px;
      padding: .67857143em 1em;
    }
    input{
      font-size: 12px;
      padding: 15px;
    }
    textarea{
      @extend input;
    }
    select{
      @extend input;
    }
    .checkbox input:checked~label:after {
      background: rgb(2, 78, 157);
  }
}
.ui .default.text {
  color: #e0e0e0 !important;
}
